@mixin titleLine() {
  &:after {
    content: "";
    width: 70px;
    height: 4px;
    transform: translate(-50%);
    background-color: $lightBlue;
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}
@mixin imgTitle() {
  color: $white;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}
@mixin btnAppGoo {
  width: 180px;
  margin-right: 10px;
  .btn {
    width:180px;
    &:hover {
      background-color: $white;
      opacity: 0.6;
      border-radius: 6px;
    }
  }
}
@mixin requireLbl {
  background-color: $lightBlue;
  padding: 2px 4px;
  margin-left: 8px;
  color: $white;
  font-size: 13px;
  vertical-align: top;
  border-radius: 2px;
  &.arbitrary {
    background-color: $paleGray;
  }
}
@mixin longBtn {
  width: 360px;
  &--Btn {
    margin-top: 35px;
    width: 100%;
    height: 48px;
    line-height: 48px;
    background-color: $lightBlue;
    color: $white;
    border-radius: 5px;
    text-align: center;
    border: none;
    &:hover {
      cursor: pointer;
    }
    & a {
      display: block;
    }
  }
}