.userContainer{
  .message {
    color: $white;
    text-align: center;  
    background-color: $deepskyblue;
    margin-bottom: 20px;
  }
  &__userMain {
    padding-bottom: 30px;
    .userMain {
      &__formGroup{
        &--image {
          width: 280px;
        }
        &--input {
          &.card {
            width: 36%;
          }
        }
        &__carDel {
          display: inline-block;
          width: 42px;
          text-align: center;
        }
      }
      &__actions{
        text-align: center;
        &--input {
          z-index: 2;
        }
        &--link {
          display: inline-block;
          text-align: center;
          color: $lightBlue;
          margin-top: 20px;
        }
      }
    }
  }
}