.itembuy-content_name {
  h1{
  margin-left: 620px;
  font-size: 30px;
  }
}

.owl-carousel{
  margin-left: 500px;
}

.owl-carousel-sub{
  margin-left: 500px;
}

.item-price-box{
  margin-left: 600px;
  &_bold{
    font-size: 300px;
  }
}

.item-text{
  margin-left: 630px;
  color: gray;
}

.itembuy-content_table table{
  margin-left: 580px;
  // th{
  //   font-weight: bold;
  //   font-size: 17px;
  // }
}