.userContainer {
  background-color: $lightGray;
  color: $lightBlack;
  min-height: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 130px;
  box-sizing: border-box;
  &__userHeader {
    padding: 40px 90px 40px 90px;
    .userHeader{
      height: 50px;
      margin: auto 0;
      display: flex;
      justify-content: center;
      &__logo {
        img {
          width: 185px;
          height: 49px;
        }
      }
      &__progressBar {
        height: 30px;
        color: $darkGray;
        margin-left: 90px;
        .progressBar {
          margin-right: 28px;
          position: relative;
          display: inline-block;
          min-width: 60px;
          font-size: 12px;
          &__cap.user {
            margin-left: 5px;
          }
          &__cap.finish {
            margin-left: 18px;
          }
          &__status {
            position: absolute;
            left: 40%;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: $paleGray;
            border-radius: 50%;
            z-index: 2;
          }
          &__bar {
            position: absolute;
            left: 50%;
            top: 31px;
            width: 93px;
            height: 2px;
            background: $paleGray;
          }
        }
        #p_active {
          color: $lightBlue;
        }
        #status_active {
          background: $lightBlue;
        }
      }
    }
  }
  &__userMain {
    width: 700px;
    height: 100%;
    margin: 0 auto;
    background-color: $white;
    padding-bottom: 70px;
    margin-bottom:  40px;
    &__title {
      font-size: 22px;
      font-weight: bold;
      padding: 32px;
      text-align: center;
      border-bottom: solid 1.5px $lightGray;
      margin-bottom: 40px;
    }
    .userMain{
      padding: 0 180px;
      &__formGroup {
        width: 350px;
        font-size: 14px;
        margin: 10px 0 24px 0;
        &__double {
          display: flex;
        }
        &__triple {
          display: flex;
        }
        &__label {
          font-weight: bold;
        }
        &__require {
          background-color: $lightBlue;
          padding: 2px 4px;
          margin-left: 8px;
          color: $white;
          font-size: 13px;
          vertical-align: top;
          border-radius: 2px;
          &.arbitrary {
            background-color: $paleGray;
          }
        }
        &--input {
          width: 100%;
          height: 48px;
          margin-top: 3px;
          padding: 10px 16px 8px;
          border: 1px solid $paleGray;
          border-radius: 5px;
          font-size: 18px;
          font-weight: 100;
          &.double {
            width: 50%;
            margin-right: 10px;
          }
          &.triple {
            width: 30%;
            margin-right: 5px;
          }
          &.select {
            &:hover {
              cursor: pointer;
            }
          }
          &:focus{
            outline: none;
            border: 1px solid $lightBlue;
          }
          &::placeholder {
            color: $darkGray;
            font-size: 15px;
          }
        }
        &__errorMsg {
          color: $Scarlet;
          &.double {
            margin-right: 60px;
          }
        }
      }
      &__actions {
        margin-top: 35px;
        &--Btn {
          width: 100%;
          height: 48px;
          line-height: 48px;
          background-color: $lightBlue;
          color: $white;
          border-radius: 5px;
          text-align: center;
          border: none;
          &:hover {
            cursor: pointer;
          }
          & a {
            display: block;
          }
        }
      }
      .signInMsg {
        display: inline-block;
        margin-top: 4px;
        &:hover {
          color: $lightBlue;
        }
        &--label:hover {
          cursor: pointer;
          color: $lightBlue;
        }
      }
    }
    &.test{
      margin-bottom: 330px;
    }
  }
  &__userFooter {
    .userFooter {
      width: 100%;
      height: 80px;
      text-align: center;
      color: $darkGray;
      font-size: 12px;
      position: absolute;
      bottom: 0;
      &__logo {
        img {
          color: $darkGray;
          height: 45px;
        }
      }
    }
  }
}
