.main__visuals{
  width: 100%;
  height: 560px;
  background-image: url(/assets/ok.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: flex;
  align-items: center;
  .contents{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0 0 0;
    .main__visuals--content{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 60px;
      line-height: 1.2;
      color:$white;
    }
    .main__visuals--content2{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: $white;
      line-height: 1.77778;
      margin: 16px 0 0 0;
    }
    .main__visuals--content__btn{
      display: flex;
      margin: 24px 0 0 0;
      .main__visuals--content__btna{
        width: 180px;
        img{
          width:180px
        }
      }
      .main__visuals--content__btng{
        width: 180px;
        margin-left: 20px;
        img{
          width: 180px;
        }
      }
    }
  }
}

.title{
  padding: 60px 20px;
  .title__sub{
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }
  .title__sub::after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: $light_blue;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .title__list{
    text-align: center;
    display: flex;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
    .title__list1{
      width: 30%;
      margin: 16px 5% 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      .title__list1--picture{
        position: relative;
        margin-bottom: 20px;
        .title__list1--picture__num{
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: $light_blue;
          color: $white;
        }
        img{
          width: 306px;
          vertical-align: bottom;
          height: 306px;
        }
      }
      .title__list1--text{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
        color: $light_blue;
        .a{
          color: $black;
        }
      }
      .title__list1--text2{
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
    }
    .title__list1{
      width: 30%;
      margin: 16px 5% 0 0;
      text-align: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      .title__list1--picture{
        position: relative;
        margin-bottom: 20px;
        .title__list1--picture__num{
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: $light_blue;
          color:$white;
        }
        img{
          width: 306px;
          vertical-align: bottom;
          height: 306px;
        }
      }
      .title__list1--text3{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
        color: $black;
      }
      span{
        color:$light_blue ;
      }
      .title__list1--text2{
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
    }
  }
}

.middle{
  background-image: url(/assets/tekitou.jpg);
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  .middle__title{
    color: $white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: left;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    .middle__title--sub{
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
    }
    .middle__title--text{
      font-size: 18px;
      margin: 20px 0 30px;
      line-height: 1.5;
    }
    .middle__title--btn{
      display: flex;
      .middle__title--btna{
        margin-right: 10px;
        img{
          width: 180px;
        }
      }
      .middle__title--btng{
        margin-right: 10px;
        img{
          width: 180px;
        }
      }
    }
  }
}
