.purchaseContainer
  = render 'common/header_simple'
  .purchaseMain
    %h2.purchaseMain--title 購入が完了しました！
    = image_tag 'material/purchase_completed.png', class: "purchaseMain--purchaseCompImg"
  = render 'common/footer_simple'